.header {

    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    justify-content: space-between;

}

.header img {

    width: 2vw;
    height: 2vw;

}

.info {

    margin-left: -6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1vw;

}

.info p {

    margin-left: 1vw;
    color: white;

}